<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/lib/animate.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/edit.css" />
	<body>
		<%- include ./module/snow %>
		<section class="container edit-container">
			<div class="head-op clearfix">
				<% if(user.userid){ %>
				<span class="fl">
					<span class="mr10"><%= user.username %></span>
				</span>
				<a class="fr" href="/user/<%= user.userid %>">我的主页</a>
				<% }else{ %>
				<span class="fr">
					<a href="/login">登录</a>&nbsp;/&nbsp;<a href="/regist">注册</a>
				</span>
				<% } %>
			</div>
			<div class="mt20 edit-form">
				<div class="edit-sg edit-title">
	                <div class="edit-tip">标题</div>
	                <div class="input-box">
	                    <input class="input" id="title" type="text">
	                </div>
	            </div>
	            <div class="edit-sg edit-music ">
	            	<div class="edit-tip clearfix">
	            		<span class="fl">设置背景音乐</span>
	            		<a class="fr redtext show-music" href="javascript:void(0);">查看音乐列表</a>
	            	</div>
	            	<div class="mt10 clearfix choose">
	            		<span class="fl ellipsis music-selected" data-music="-1">无</span>
	            		<a class="fr delete-music" href="javascript:void(0);" style="display:none;">删除音乐选择</a>
	            	</div>
	            </div>
	            <% if(type == 'static'){ %>
	            	<div class="edit-page edit-page-static">
		            	<div class="page-title">编辑：第&nbsp;<span class="page-num">1</span>&nbsp;页</div>
		            	<ul class="edit-page-list">
		            		<li class="edit-page-sg">
					            <div class="edit-sg edit-bg ">
					            	<div class="edit-tip clearfix">
					            		<span class="fl">设置背景模板</span>
					            		<a class="fr redtext show-static-bg" href="javascript:void(0);">查看模板</a>
					            	</div>
					            	<div class="mt10 clearfix choose">
					            		<span class="fl bg-selected" data-bg="-1">无</span>
					            		<a class="fr delete-bg" href="javascript:void(0);" style="display:none;">删除模板选择</a>
					            	</div>
					            </div>
					            <div class="mt20 tac page-change">
					            	<a class="mr20 save-static" href="javascript:void(0);">保存</a>
					            	<a href="javascript:void(0);">编辑下一页</a>
					            </div>
				            </li>
			            </ul>
		        	</div>
		        <% }else if(type == 'dynamic'){ %>
		        	<div class="edit-page edit-page-dynamic">
	            		<div class="edit-page-sg">
				            <div class="edit-bg ">
				            	<div class="edit-tip clearfix">
				            		<span class="fl">设置背景模板</span>
				            		<a class="fr redtext show-dynamic-bg" href="javascript:void(0);">查看模板</a>
				            	</div>
				            	<div class="mt10 clearfix choose">
				            		<span class="fl bg-selected" data-bg="2">snow</span>
				            		<a class="fr delete-bg" href="javascript:void(0);" style="display:none;">删除模板选择</a>
				            	</div>
				            </div>
			            </div>
			        </div>
		        <% } %>
		        <div class="edit-sg edit-content">
	                <div class="edit-tip">你想对TA说什么</div>
	                <div class="content-box">
	                	<ul class="content-list">
	                		<li class="content-sg" data-animate="0">
	                			<div class="tac">
	                				<span class="mr10">第1段</span>
	                				<a class="cfff set-content-animation" href="javascript:void(0);">设置动画</a>
	                			</div>
	                			<textarea class="mt10 textarea content0"></textarea>
	                		</li>
	                	</ul>
	                	<div class="tac mt20">
	                		<a class="mt20 cfff" id="add-content" href="javascript:void(0);">编辑下一段话</a>
	                	</div>
	                </div>
	            </div>
		        <div class="bgred flexbox edit-operation">
		        	<a class="flex1" href="javascript:void(0);" id="exit">不保存</a>
		        	<a class="flex1" href="javascript:void(0);" data-userid="<%= user.userid %>" id="save">保存</a>
		        </div>
			</div>
			<div class="alert music-box">
				<div class="alertBg"></div>
				<div class="alertMain">
					<ul class="music-list">
						<% for(var i in music){%>
						<li class="music-sg">
							<a href="javascript:void(0);" data-music="<%= i %>"><%= i %></a>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
			<div class="alert font-box">
				<div class="alertBg"></div>
				<div class="alertMain font-set-main">
					<ul class="font-list">
						<% animate.forEach(function(animate,index){%>
						<li class="font-sg">
							<a href="javascript:void(0);" data-font="<%= index %>"><%= animate %></a>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</section>
		<div class="bg-mod dynamic-mod" style="display:none;">
			<div class="iframe-box">
				<iframe class="mod-iframe" border="0" src="/record/23" frameborder="0" height="100%" width="100%"></iframe>
			</div>
		</div>
		<div class="bg-mod static-mod" style="display:none;">
			<ul class="bg-mod-list">
				<li class="bg-mod-sg">
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="/js/editMain.js"></script>
</html>
