<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/lib/animate.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/edit.css" />
	<body>
		<%- include ./module/snow %>
		<section class="container edit-container">
			<div class="head-op clearfix">
				<% if(user.userid){ %>
				<span class="fl">
					<span class="mr10"><%= user.username %></span>
				</span>
				<a class="fr" href="/user/<%= user.userid %>">我的主页</a>
				<% }else{ %>
				<span class="fr">
					<a href="/login">登录</a>&nbsp;/&nbsp;<a href="/regist">注册</a>
				</span>
				<% } %>
			</div>
			<div class="mt20 edit-form">
				<div class="edit-sg edit-title">
	                <div class="edit-tip">标题</div>
	                <div class="input-box">
	                    <input class="input" id="title" type="text" value="<%= record ? record.title : '' %>">
	                </div>
	            </div>
	            <div class="edit-sg edit-music ">
	            	<div class="edit-tip clearfix">
	            		<span class="fl">设置背景音乐</span>
	            		<a class="fr redtext show-music" href="javascript:void(0);">查看音乐列表</a>
	            	</div>
	            	<div class="mt10 clearfix choose">
	            		<% var dataMusic = -1, musicName = '无', musicShow = 'display:none;' %>
	            		<% if(record && record.music != -1){ %>
	            			<% dataMusic = record.music, musicName = record.music, musicShow = 'display:block;' %>
	            		<% } %>
	            		<span class="fl ellipsis music-width">已选择：<span class="music-selected" data-music="<%= dataMusic %>"><%= musicName %></span></span>
	            		<a class="fr cfff delete-music" href="javascript:void(0);" style="<%= musicShow %>">删除音乐选择</a>
	            	</div>
	            </div>
	            <% if(type == 'static'){ %>
	            	<div class="edit-page edit-page-static">
		            	<div class="page-title">编辑：第&nbsp;<span class="page-num">1</span>&nbsp;页</div>
		            	<ul class="edit-page-list">
		            		<li class="edit-page-sg">
					            <div class="edit-sg edit-bg ">
					            	<div class="edit-tip clearfix">
					            		<span class="fl">设置背景模板</span>
					            		<a class="fr redtext show-static-bg" href="javascript:void(0);">查看模板</a>
					            	</div>
					            	<div class="mt10 clearfix choose">
					            		<span class="fl">已选择：<span class="bg-selected" data-bg="-1">无</span></span>
					            		<a class="fr cfff delete-bg" href="javascript:void(0);" style="display:none;">删除模板选择</a>
					            	</div>
					            </div>
					            <div class="mt20 tac page-change">
					            	<a class="mr20 save-static" href="javascript:void(0);">保存</a>
					            	<a href="javascript:void(0);">编辑下一页</a>
					            </div>
				            </li>
			            </ul>
		        	</div>
		        <% }else if(type == 'dynamic'){ %>
		        	<% var dataBg = 2, bgName = 'snow', bgShow = 'display:none;' %>
            		<% if(record){ %>
            			<% var recordPage = JSON.parse(record.page); %>
            			<% dataBg = recordPage.dynamicBg, bgName = dynamicbg[recordPage.dynamicBg], bgShow = 'display:block;' %>
            		<% } %>
		        	<div class="edit-page edit-page-dynamic">
	            		<div class="edit-page-sg">
				            <div class="edit-bg ">
				            	<div class="edit-tip clearfix">
				            		<span class="fl">设置背景模板</span>
				            		<a class="fr redtext show-dynamic-bg" href="javascript:void(0);">查看模板</a>
				            	</div>
				            	<div class="mt10 clearfix choose">
				            		<span class="fl">已选择：<span class="bg-selected" data-bg="<%= dataBg %>"><%= bgName %></span></span>
				            		<a class="fr cfff delete-bg" href="javascript:void(0);" style="<%= bgShow %>">删除模板选择</a>
				            	</div>
				            </div>
			            </div>
			        </div>
		        <% } %>
		        <div class="edit-sg edit-content">
	                <div class="edit-tip">你想对TA说什么</div>
	                <div class="content-box">
	                	<ul class="content-list">
	                		<% if(record){ %>
		            			<% var content = JSON.parse(record.page).content; %>
		            			<% var animation = JSON.parse(record.page).animation; %>
		            			<% var contentArr = content.split('&&'); %>
		            			<% var animationArr = animation.split('&&'); %>
		            			<% if(contentArr.length > 0){ %>
		            				<% contentArr.forEach(function(ct,index){ %>
		            					<li class="content-sg" data-animate="<%= animationArr[index] %>">
				                			<div class="tac">
				                				<span class="mr10">第<%= index + 1 %>段</span>
				                				<a class="cfff set-content-animation" href="javascript:void(0);"><%= animate[animationArr[index]] %></a>
				                			</div>
				                			<textarea class="mt10 textarea content0"><%= ct %></textarea>
				                		</li>
		            				<% }); %>
		            			<% } %>
		            		<% }else{ %>
		                		<li class="content-sg" data-animate="0">
		                			<div class="tac">
		                				<span class="mr10">第1段</span>
		                				<a class="cfff set-content-animation" href="javascript:void(0);">设置动画</a>
		                			</div>
		                			<textarea class="mt10 textarea content0"></textarea>
		                		</li>
	                		<% } %>
	                	</ul>
	                	<div class="tac mt20">
	                		<a class="mt20 cfff" id="add-content" href="javascript:void(0);">编辑下一段话</a>
	                	</div>
	                </div>
	            </div>
		        <div class="bgred flexbox edit-operation" data-userid="<%= user.userid %>">
		        	<a class="flex1" href="javascript:void(0);" id="exit">退出</a>
		        	<a class="flex1" href="javascript:void(0);" id="preview">预览</a>
		        	<a class="flex1" href="javascript:void(0);" id="save">保存</a>
		        </div>
			</div>
			<div class="alert music-box">
				<div class="alertBg"></div>
				<div class="alertMain">
					<ul class="music-list">
						<% for(var i in music){%>
						<li class="music-sg">
							<a href="javascript:void(0);" data-music="<%= i %>"><%= i %></a>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
			<div class="alert font-box">
				<div class="alertBg"></div>
				<div class="alertMain font-set-main">
					<ul class="font-list">
						<% animate.forEach(function(animate,index){%>
						<li class="font-sg">
							<a href="javascript:void(0);" data-font="<%= index %>"><%= animate %></a>
						</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</section>
		<div class="bg-mod dynamic-mod" style="display:none;">
			<div class="iframe-box">
				<iframe class="mod-iframe" border="0" src="/record/1" frameborder="0" height="100%" width="100%"></iframe>
			</div>
		</div>
		<div class="bg-mod static-mod" style="display:none;">
			<ul class="bg-mod-list">
				<li class="bg-mod-sg">
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="/js/editMain.js"></script>
</html>
