<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	    <meta name="format-detection" content="telephone=no" />
	    <meta name="apple-touch-fullscreen" content="YES" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="screen-orientation" content="portrait">
	    <meta name="x5-orientation" content="portrait">
	    <link rel="stylesheet" href="/css/record.css" />
		<script type="text/javascript" src="/js/lib/zepto.min.js"></script>
	    <script type="text/javascript" src="/js/common.js"></script>
	</head>
	<body>
		<% if( record.music && record.music != -1 ){ %>
		<audio id="audio" autoplay="autopaly" loop="loop">
		  <source src="<%= pageSetting.music[record.music]%>" type="audio/mp3">
		</audio>
		<a href="javascript:void(0);" class="music-switch" id="music-switch">
			<img src="/img/music.png">
		</a>
		<% } %>

		<% if(preview == 0){ %>
		<section class="ad-box">
			<a href="/edit/dynamic" class="ad-link">我也要玩>></a>
		</section>
		<% }else{ %>
		<section class="back-box">
			<a href="javascript:void(0)" class="ad-link edit-continue">继续编辑>></a>
		</section>
		<% } %>

		<section class="container"">
			<% var page = JSON.parse(record.page); %>
			<% if( !isNaN(page.dynamicBg) ){ %>
				<section class="page">
				<% var bg = pageSetting.dynamicBg[page.dynamicBg] %>
				<%- include('module/' + bg , {dynamicbg:pageSetting.dynamicBg,rid:record.rid}); %>
				</section>
			<% }else if( !isNaN(page.staticBg) ){ %>
				<section class="page" style="background:url(<%= pageSetting.staticBg[page.staticBg] %>) no-repeat;background-size:100% 100%;">
				</section>
			<% } %>
			<section class="content-box">
				<% var arr = page.animation.split('&&'),aniArr = []; %>
				<% arr.forEach(function(value,index){ %>
				<%     aniArr.push(pageSetting.animate[value]); %>
				<% }); %>
				<div id="page-content" style="display:none;"><%= page.content %></div>
				<div id="page-animation" style="display:none;"><%= aniArr.join('&&') %></div>
				<div class="content-main"></div>
			</section>
		</section>
		<% if( record.rid <= pageSetting.dynamicBg.length ){ %>
		  <%- include('module/modTab',{dynamicbg:pageSetting.dynamicBg,select:record.rid}); %>
		<% } %>
	</body>
	<script type="text/javascript" src="/js/recordMain.js"></script>
</html>
