<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/record.css" />
	<body>
		<% if( !record.music ){ %>
		<audio autoplay="autopaly" loop="loop">
		  <source src="<%= pageSetting.music[record.music]%>" type="audio/mp3">
		</audio>
		<% } %>
		<section class="container"">
			<% var page = JSON.parse(record.page); %>
			<% if( !isNaN(page.dynamicBg) ){ %>
				<section class="page">
				<% var bg = pageSetting.dynamicBg[page.dynamicBg] %>
				<%- include('module/' + bg , {dynamicbg:pageSetting.dynamicBg,rid:record.rid}); %>
				</section>
			<% }else if( !isNaN(page.staticBg) ){ %>
				<section class="page" style="background:url(<%= pageSetting.staticBg[page.staticBg] %>) no-repeat;background-size:100% 100%;">
				</section>
			<% } %>
			<section class="content-box">
				<% var arr = page.animation.split('&&'),aniArr = []; %>
				<% arr.forEach(function(value,index){ %>
				<%     aniArr.push(pageSetting.animate[value]); %>
				<% }); %>
				<div id="page-content" style="display:none;"><%= page.content %></div>
				<div id="page-animation" style="display:none;"><%= aniArr.join('&&') %></div>
			</section>
		</section>
	</body>
	<script type="text/javascript" src="/js/record.js"></script>
</html>
