<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/user.css" />
	<body>
		<%- include ./module/snow %>
		
		<section  class="container">
			<div class="head-op clearfix">
				<% if(user.loginid){ %>
				<span class="fl">
					<span class="mr10"><%= user.loginname %></span>
				</span>
				<a class="fr" href="/">首页</a>
				<% } %>
			</div>
			<% if(user.loginid == user.userid){ %>
			<ul class="record-list">
				<% user.records.forEach(function(record){ %>
				<li class="record-sg clearfix" data-rid="<%= record.rid %>">
					<div class="ellipsis fl record-title"><%= record.title %></div>
					<a href="javascript:void(0);" class="fr record-op ml10">操作</a>
					<div class="fr record-udate"><%= moment(record.udate).format('MM/DD') %></div>
					<div class="record-op-list" style="display:none;">
						<a href="javascript:void(0);" class="record-delete">删除</a>
						<a href="javascript:void(0);" class="record-update">修改</a>
					</div>
				</li>
				<% }); %>
			</ul>
			<% }else{ %>
			<div class="empty">
				无权限访问
			</div>
			<% } %>
		</section>
		<section class="bottom-btn">
			<a href="/edit/dynamic" class="btn go-express">go Express</a>
		</section>
	</body>
	<script type="text/javascript" src="/js/userMain.js"></script>
</html>
